@import "css-modularscale";
@import "reset-css";
@import "suitcss";
@import "suitcss-utils-space";

:root {
  --variable-test: teal;
  --ms-base: 16px;
	--ms-ratio: var(--major-second);
  
  /* Variables for suitcss-utils-space */
  --space-n: 0;
  --space-b: var(--ms-2);
  --space-s: var(--ms-1);
  --space-m: var(--ms0);
  --space-l: var(--ms3);
  --space-g: var(--ms6);
}

html {
  box-sizing: border-box;
}
 
*, *:before, *:after {
  box-sizing: inherit;
}

